
@font-face {
  font-family: 'HelveticaNeueLT-Regular';
  src: url('HelveticaNeueLT-Regular.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLT-Regular.woff') format('woff'), url('HelveticaNeueLT-Regular.ttf')  format('truetype'), url('HelveticaNeueLT-Regular.svg#HelveticaNeueLT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
